/**
 * Place your custom CSS styles here.
 **/
body {
	/*background: yellow !important;
	background: black !important;*/
}

.active-list {
	background: black !important;
}

.active-movie {
	background: red !important;
}


/*Cancel Netflix Movies Slider*/
.mrow .bd {
	overflow: auto !important;
}

.slider {
	height: auto !important;
	overflow: auto !important;
}

.slider .agMovieSetSlider {
	width: auto !important;
	position: relative !important;
}

.mrow .triangleBtns .sliderButton,
.mrow .slider-button {
	display: none !important;
}